.header{
    background-color: cornflowerblue;
}
.header{
    text-align: center;
}
.about-me{
    font-size: 20px;
}
.about-me{
    opacity: 50%;
}
.title{
    font-weight: normal;
}
h1{
    color: azure;
}
body{
    font-family: goergia;
}